[Unit]
Description=ARKLinux Individual Operator Edition
Documentation=https://github.com/arklinux
Requires=multi-user.target
After=multi-user.target
AllowIsolate=yes
