[Unit]
Description=ARKlinux Btrfs system snapshot
ConditionPathIsMountPoint=/.snapshots
[Service]
Type=oneshot
ExecStart=/usr/local/bin/arklinux-snapshot
